body {
	background-color: #e9ecef;
}

#sidebar {
	height: 100vh;
}

#sidebar .nav-link.active {
	background-color: #037afd;
	font-weight: bolder;
	color: #fff !important;
	padding-left: 35px;
	border-radius: 50px 15px 15px 50px;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

#sidebar .nav-link.active:hover {
	color: #fff !important;
	background-color: rgba(3, 122, 253, 0.4);
	transition: 0.2s;
}

#sidebar .nav-link:hover {
	background-color: rgba(3, 122, 253, 0.4);
	font-weight: bolder;
	color: #fff !important;
	padding-left: 35px;
	border-radius: 50px 15px 15px 50px;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
	transition: 0.2s;
}

div.card.d-flex .card-header {
	min-width: 114.3px;
	text-align: center;
}

.btn-export {
	background-color: rgba(3, 122, 253, 0.4);
	color: #fff;
}

.btn-export:hover {
	background-color: rgba(3, 122, 253, 0.7);
	color: #fff;
}